<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <!-- Begin Container -->
  <br>
  <div class="container-fluid text-center">
  <h1><span class="fa fa-yelp"> </span> All Bars</h1>
  <h2>   Click on &hearts; to add yourself to the number of people going to the bar.</h2>
  <br>
  <hr>
  <br>
  <br>
<div class="container-fluid text-center">
  <div id="info"></div>
  <div class="grid" style="position: relative; height: 184px;">
    <div class="grid-sizer"></div>
  </div>
</div>

</div>
  <!-- /.container -->
  <footer>
    <script>
    var allBars = <%- JSON.stringify(allbars) %>;
    var user = <%- JSON.stringify(user) %>;
    for(var i = 0; i < allBars.length; i++){
      //console.log(allBars[0].location);
        var htmlCards = '<div class="grid-item"><div class="card">';
        htmlCards += '<div class="img-wrapper"><div class="pin-title1"><a href="/going?id='+allBars[i]._id+'">&hearts;</a></div><div class="pin-title4"><a href="/notGoing?id='+allBars[i]._id+'">X</a></div><img src="'+allBars[i].image_url+'" class="img-responsive img-rounded" onerror="imgError(this);"><div class="text-bottom">' +allBars[i].name+'<br>' +allBars[i].location+'<br>Ph: ' +allBars[i].display_phone+'<br>Rating: ' +allBars[i].yelp_rating+' (Review Count:' +allBars[i].review_count+')<br><a href="'+allBars[i].url+'" target="blank">Website</a><br>Going - '+allBars[i].going+'</div></div>';
        //htmlCards += '<div class="caption text-center"><div class="pin-title"><a href="/deletePin?id='+allPins[i]._id+'">&hearts;</a></div></div></div></div>';
        $('.grid').append(htmlCards);
      }
    if(allBars.length == 0){
      $('#info').append("You have no bars.")
    }
    setTimeout(function(){
      $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
      });
    }, 200);
    function imgError(image) {
      image.onerror = "";
      image.src = "http://www.avsforum.com/photopost/data/2277869/9/9f/9f50538d_test.jpeg";
      return true;
    }
    </script>
    <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>
