<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <br>
  <!-- Begin Container -->
  <div class="container-fluid add">
    <div class="text-center">
      <br>
      <h1><i class="fa fa-yelp" aria-hidden="true"></i></h1>
      <h2 style="color: #FFFFCC">   Click on &hearts; to add the bars to your favorite.</h2>
      <br>
      <div class="col-sm-offset-1 col-sm-10">
        <a href="/newSearch" class="btn btn-success btn-lg active" role="button" aria-pressed="true">New Search</a>
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="container-fluid">
      <div id="info">Loading...</div>
      <div class="grid" style="position: relative; height: 184px;" id="grid1">
        <div class="grid-sizer"></div>
      </div>
    </div>
  </div>
  <!-- /.container -->
<footer>
  <script>
  var user = <%- JSON.stringify(user) %>;
  var bars = <%- JSON.stringify(bars) %>;
  console.log(user);
  console.log(bars);
  console.log('add bars 2 page!');
  //console.log(bars);
  //new code
  $.ajax({
    type: 'GET',
    url: '/getAllBars',
    /*data: {email: user},*/
    success: function(data) {
      if(bars.length == 0){
        $('#info').html("If you are seeing this message, please refesh the page to view your results.");
        //console.log(bars);
      }else {
        $('#info').html("");
        //console.log(data.bars[0].url);
        for(var i = 0; i < bars.length; i++){
          console.log(bars[0]._id);
          var htmlCards = '<div class="grid-item"><div class="card">';
          htmlCards += '<div class="img-wrapper"><div class="pin-title1"><a href="/moveBar?id='+bars[i]._id+'">&hearts;</a></div><img src="'+bars[i].image_url+'" class="img-responsive img-rounded" onerror="imgError(this);"><div class="text-bottom">' +bars[i].name+'<br>' +bars[i].location+'<br>Ph: ' +bars[i].display_phone+'<br>Rating: ' +bars[i].yelp_rating+' (Review Count:' +bars[i].review_count+')<br><a href="'+bars[i].url+'" target="blank">  Go To Website</a></div></div>';
          $('#grid1').append(htmlCards);
        }
        setTimeout(function(){
          $('.grid').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            // use element for option
            columnWidth: '.grid-sizer',
            percentPosition: true
          });
        }, 200);
      }
    }
  });
  function imgError(image) {
    image.onerror = "";
    image.src = "http://www.avsforum.com/photopost/data/2277869/9/9f/9f50538d_test.jpeg";
    return true;
  }
  </script>

  <% include ../partials/footer.ejs %>
</footer>
</body>

</html>
